.famous-person{
  margin: 50px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.famous-person img{
  z-index: -1;

}

.quote{
  position: relative;
  top: 0px;
  width: 221px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding-top: 10px;
}

.quoteholder{
  height: 100%;
  width: 200px;
  padding-left: 18px;
  display: table;
}

/* IE 7/8 fixes */
html.lt-ie8 .quoteholder{
    top: 195px;
    position: absolute;
}

html.lt-ie9 img.portrait,
html.lt-ie8 img.portrait{
  background: #fff;
}
